<div id="login_logout"> 
  <% unless @current_user.blank? %> 
    Logged in as: 
    <%= @current_user.name %> 
    <em><%= link_to "(Logout)", 
            :controller => 'admin', 
            :action => 'logout' %></em> 
  <% else %> 
    <em>Not logged in.</em> 
    <%= link_to 'Login', 
        :controller => 'admin', 
        :action => 'login' %> 
  <% end %> 
  </div>
<h1>Welcome</h1> 

It's <%= Time.now %> 
We have <%= pluralize(@total_stories, "story") %>. 